@tailwind base;
@tailwind components;
@tailwind utilities;
    


.scrollCustom {
  scrollbar-width: thin;
  scrollbar-color: rgb(240, 230, 230) transparent;
}

.scrollCustom::-webkit-scrollbar {
  height: 12px; /* A altura só é vista quando a rolagem é horizontal */
  border: 1px solid rgba(253, 248, 248, 0.842);
  box-shadow: 0px 4px 3px rgb(0, 0, 0);
}

.scrollCustom::-webkit-scrollbar-track {
  background-color: rgb(120, 43, 43);
  padding: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.365);
  border-top: 2px solid rgba(0, 0, 0, 0.315);
}

.scrollCustom::-webkit-scrollbar-thumb {
  background-color: #cf1c0c;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.NOT_SCROLL::-webkit-scrollbar{
  display: none;
}

.Shadow{
  inset: 0;
  background-image: linear-gradient(to top, rgba(111, 107, 107, 0.268), rgba(0, 0, 0, 0));
  height: 40%;
  position: absolute;
  margin-top: 70.50%;
  border-radius: 0.75rem;
  z-index: -1;
}

.RADIAL{
  background: radial-gradient(rgb(90, 81, 81), rgb(72, 68, 68), rgb(2, 68, 2));
}